<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar-navigation">
	<div class="module-docheader-bar-column-left">
		<!-- Navigation left -->
	</div>
	<div class="module-docheader-bar-column-right">
		<f:render partial="Backend/ApiCore/Path" arguments="{docHeader: docHeader}"/>
	</div>
</div>
<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar-buttons">
	<div class="module-docheader-bar-column-left">
		<!-- Buttons left -->
	</div>
	<div class="module-docheader-bar-column-right">
		<f:render partial="Backend/ApiCore/ButtonBar" arguments="{buttons: docHeader.buttons.right}"/>
	</div>
</div>
