<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar-navigation">
	<div class="module-docheader-bar-column-left">
		<!-- Navigation left -->
	</div>
	<div class="module-docheader-bar-column-right">
		<f:be.buttons.csh />
		<f:be.menus.actionMenu />
	</div>
</div>
<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar-buttons">
	<div class="module-docheader-bar-column-left">
		<!-- Buttons left -->
	</div>
	<div class="module-docheader-bar-column-right">
		<f:render section="Buttons" optional="true" />
	</div>
</div>
