<nav class="t3js-module-docheader-tabs">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<f:link.action action="index" class="nav-link {f:if(condition: '{currentTab} == \'index\'', then: 'active')}">
				APIs & Versions
			</f:link.action>
		</li>
		<li class="nav-item">
			<f:link.action action="tokens" class="nav-link {f:if(condition: '{currentTab} == \'tokens\'', then: 'active')}">
				Tokens
			</f:link.action>
		</li>
		<li class="nav-item">
			<f:link.action action="providers" class="nav-link {f:if(condition: '{currentTab} == \'providers\'', then: 'active')}">
				Providers
			</f:link.action>
		</li>
		<li class="nav-item">
			<f:link.action action="endpoints" class="nav-link {f:if(condition: '{currentTab} == \'endpoints\'', then: 'active')}">
				Endpoints
			</f:link.action>
		</li>
	</ul>
</nav>
